body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle;
    height: 95%;
}